.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  background-color: var(--light-primary);
  margin-bottom: 1.5rem;
}

.header h1 {
  font-size: 0.875rem;
}

.App.dark .header {
  color: var(--light-primary);
  background-color: var(--dark-primary);
}
