@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap");

:root {
  --light-primary: #fff;
  --light-secondary: #fafafa;
  --dark-primary: #2b3844;
  --dark-secondary: #202c36;
}

html, body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  transition: all 0.35s;
}

button {
  border: none;
  outline: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.App {
  background-color: var(--light-secondary);
  color: var(--dark-primary);
}

.App.dark {
  background-color: var(--dark-secondary);
  color: var(--light-primary);
}

.container {
  width: 87%;
  margin: 0 auto;
}

.main {
  background-color: inherit;
}
